<div class="bottleCard button" (click)="openDetailModal(bottle_form)">
  <div class="bottleCard_body">
    <h5>
      {{bottle.vintage + " " + bottle.year}}
    </h5>
    <div>
      {{bottle.castel.name}}
    </div>
    <div>
      {{bottle.infos}}
    </div>
    <div>
      <img class="bottleImg" src="{{url}}{{bottle.id}}" alt="{{bottle.vintage}}'s bottle image">
    </div>
  </div>
  <div class="bottleCard_footer">
    <div class="bottleCard_footer_item">{{bottle.alcool +" %"}}</div>
    <div class="bottleCard_footer_item">{{bottle.price +" €"}}</div>
    <div class="bottleCard_footer_item">{{bottle.quantity}}</div>
  </div>
  <div class="bottleCard_buttons">
    <button type="button" class="btn btn-primary" (click)="openEditModal()">Edit</button>
    <button type="button" class="btn btn-danger">Remove</button>
  </div>
</div>


<ng-template #bottle_form let-modal>
  <app-bottle-details [bottle]="bottle"></app-bottle-details>
</ng-template>


